:root {
  --primary-color: rgb(48, 104, 247);
  --text-color: #1c1a7b;
  --second-color-text: #0e3441;
  --width-container: 1320px;
}

@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVNGilroy\ Bold.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVNGilroy\ Light.otf") format("truetype");
  font-weight: normal;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 24px;
}

.mr-4 {
  margin-right: 32px;
}

.gutter-top{
  margin-top: 200px!important;
}

.btn {
  border-radius: 15px;
  font-weight: bold;
  font-size: 24px;
  padding: 20px 27px;
  line-height: 1;
  cursor: pointer;
  border: none;
}

.btn--has-bg {
  background-color: var(--primary-color);
  color: #fff;
}

.btn--default {
  color: var(--primary-color);
  background-color: #fff;
  border:1px solid var(--primary-color);
}
.frame {
  position: relative;
  width: fit-content;
}
.frame::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  left: -18px;
  bottom: -18px;
  z-index: -1;
}

input,
textarea {
  border: none;
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 11px 12px 12px;
  outline: none;
  background-color: #f1f1f1;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--primary-color);
}

textarea {
  resize: none;
}

/* header */
.header {
  padding: 2rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header .logo > img {
  height: 55px;
}

.header .list-menu {
  display: flex;
  margin: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.header .list-menu .list-menu__item {
  padding: 10px 30px 10px 0;
}
.header .list-menu .list-menu__item a {
  display: inline-block;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
}

.header .list-menu__item:hover a {
  color: #1c1a7b;
}
.header .list-menu__item:hover .dropdown-icon path {
  fill: #1c1a7b;
}

.header .search {
  padding-right: 0;
  justify-content: end;
  align-items: center;
}

#toggle {
  display: none;
}

.menu-hamburger {
  position: relative;
}
.icon-menu-hamburger svg {
  fill: var(--primary-color);
  cursor: pointer;
}

ul.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  color: var(--primary-color);
  margin: 0;
  text-align: center;
}

ul.menu li {
  margin: 20px 0;
}

ul.menu li a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
}

#toggle:checked ~ ul.menu {
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 40px;
  color: var(--primary-color);
  cursor: pointer;
}

.menu-hamburger .menu .logo {
  margin-top: 30px;
  margin-bottom: 60px;
}
/* ---------------------------------------------article-------------------------------------------- */
.article > div {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.article > div > span {
  margin-right: 30px;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 0;
  width: auto;
}
.article h6,
.article h6 > a {
  font-style: normal;
  font-size: 20px;
  color: var(--text-color);
  line-height: 1.2;
}
.article p {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.2;
}
.article div > span:first-child {
  font-weight: bold;
  color: #fff;
  background-color: var(--primary-color);
  padding: 2px 8px;
  border-radius: 5px;
}
.article img {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  list-style: none;
}

.pagination a,
.pagination span {
  color: var(--second-color-text);
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  line-height: 1.5;
}

.pagination a:hover {
  color: var(--text-color);
}

.pagination a.active {
  color: var(--primary-color);
}

.pagination span {
  cursor: default;
}

/* --------------------------------------------Đăng ký---------------------------------------------*/
.register .title {
  text-align: center;
}
.grid.register {
  width: 1084px;
  margin-top: 20rem;
}

.register > .row {
  margin-top: 3rem;
}
.register .info h6 {
  font-size: 2.4rem;
  color: var(--primary-color);
  line-height: 1.4;
}
.register .info:not(:first-child) {
  margin-top: 5rem;
}

.register .info p {
  font-size: 1.8rem;
  color: var(--second-color-text);
  line-height: 1.4;
  margin: 0;
  max-width: 270px;
}
.register .field {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.register .field input {
  width: calc(50% - 16px);
  box-sizing: border-box;
}

.register .field input:first-child {
  margin-right: 3rem;
}
.register textarea {
  /* width: 100%; */
  flex: 1;
}
/* ---------------------------------------------footer--------------------------------------------- */
footer {
  margin-top: 15rem;
  background-color: #f6f6f6;
  padding: 10rem 0 3.2rem;
}
footer .col {
  color: var(--second-color-text);
}
footer .col h6,
footer .col p {
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 3rem;
}
footer .col h6 {
  font-weight: 900;
}
footer .col p {
  margin: 0;
}
footer .col:first-child p {
  display: flex;
  align-items: center;
}
footer .col p svg {
  margin-right: 1rem;
}
.copyright {
  color: var(--second-color-text);
  font-size: 16px;
  line-height: 1.2;
  margin-top: 6.9rem;
}

.social-network {
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(-100px, 150px);
  z-index: 1000000;
}

.social-network img {
  width: 40px;
  height: 40px;
}

/* -----------------------------------indicators--------------------------------------- */
.grid.indicators {
  margin-top: 200px;
  margin-bottom: 245px;
  text-align: center;
}

.indicators h3 {
  font-size: 40px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0 auto;
}
.indicators p {
  width: 1020px;
  margin: 0 auto 10px auto;
}

.indicators h3 strong {
  color: var(--primary-color);
  font-weight: bold;
}
.indicators .number {
  position: relative;
  margin: 35px 0;
}

.indicators .number {
  flex-grow: 1;
}

.indicators .number:nth-child(1) {
  flex-grow: 1;
  text-align: left;
}
.indicators .number:nth-child(2),
.indicators .number:nth-child(3) {
  flex-grow: 2;
}
.indicators .number:nth-child(4) {
  flex-grow: 1;
  text-align: right;
}

.indicators .number h3 {
  font-size: 80px;
  margin: 0;
  color: var(--primary-color);
  line-height: 1.5;
  font-weight: bold;
}

.indicators .number span {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.indicators .number:not(:last-child)::after {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff 0%, #3068f7 50%, #d9d9d9 100%);
  position: absolute;
  top: 0;
  right: 0;
}

.indicators p {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 400;
  margin: 2rem 0;
  line-height: 1.2;
}

.grid.partner{
  margin-top: 200px;
}
.partner .title {
  text-align: center;
}
/* -----------------partner----------------- */
.partner .row {
  width: 1020px;
  max-width: 0 auto;
  margin: 6.3rem auto 0;
}
.partner .col {
  border: 2px solid #1c1a7b;
  border-radius: 10px;
  width: 180px;
  height: 84px;
  margin-bottom: 3rem;
  overflow: hidden;
  cursor: pointer;
  margin-right: calc((100% - (180px * 5)) / 5);
}

.partner .col img {
  width: 154px;
  height: 80px;
}

/* ---------------------------------responsive---------------------------------- */
@media screen and (max-width: 1599px) {
  .gutter-top{
    margin-top: 180px!important;
  }
  .header {
    padding: 15px 0;
  }
  .header .list-menu .list-menu__item a {
    font-size: 18px;
  }
  .search svg {
    width: 24px;
    height: 24px;
  }
  .btn {
    font-size: 2rem;
    width: 20rem;
  }
  .register .info h6 {
    font-size: 2rem;
  }

  .register .info p {
    font-size: 1.6rem;
  }
  .indicators h3 {
    font-size: 3.6rem;
  }
  .indicators p {
    font-size: 1.6rem;
  }
  .indicators .number h3 {
    font-size: 7.2rem;
  }
}
@media screen and (max-width:1399px) {
  .social-network{
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .gutter-top{
    margin-top: 150px!important;
  }
  .header {
    padding: 12px 0;
  }
  .header .list-menu .list-menu__item a {
    font-size: 16px;
  }
  .btn {
    font-size: 1.6rem;
    width: 14rem;
    padding: 1.3rem 0;
  }
  .search svg {
    width: 20px;
    height: 20px;
  }
  .article > div > span {
    margin-right: 24px;
    font-size: 14px;
  }
  .indicators h3 {
    font-size: 3.2rem;
  }
  .indicators p {
    font-size: 1.4;
  }
  .indicators .number {
    margin: 2.5rem 0;
  }
  .indicators .number h3 {
    font-size: 6.4rem;
  }

  .indicators .number span {
    font-size: 1.6rem;
  }

  .indicators p {
    font-size: 1.4rem;
    width: auto;
  }
  .grid.indicators,.grid.partner {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .grid.register {
    width: 920px;
    margin-top: 10rem;
  }

  .register .info h6 {
    font-size: 2rem;
  }

  .social-network {
    display: none;
  }

  .register .info p {
    font-size: 1.6rem;
  }

  .register .field input:first-child {
    margin-right: 18px;
  }
  footer .col h6,
  footer .col p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 991px) {
  .gutter-top{
    margin-top: 120px!important;
  }
  .header .grid > .row img {
    height: 50px;
  }
  .header .list-menu .list-menu__item {
    padding: 10px 10px 10px 0;
  }
  .header .list-menu .list-menu__item a {
    font-size: 13px;
  }
  .header .list-menu .list-menu__item a svg {
    width: 8px;
    height: 8px;
  }
  .search svg {
    width: 16px;
    height: 16px;
  }
  .article > div > span {
    margin-right: 20px;
    font-size: 14px;
  }
  .article .row .col div > span svg {
    width: 14px;
    height: 14px;
  }

  .indicators h3 {
    font-size: 2.8rem;
  }
  .indicators p {
    font-size: 1.3rem;
  }
  
  .indicators .number {
    margin: 2.5rem 0;
  }
  .indicators .number h3 {
    font-size: 4.8rem;
  }

  .indicators .number span {
    font-size: 1.3rem;
  }

  .indicators p {
    font-size: 1.4rem;
  }

  .grid.register {
    width: 720px;
  }

  .register .info h6 {
    font-size: 1.8rem;
  }

  .register .info p {
    font-size: 1.6rem;
  }

  .register .field input:first-child {
    margin-right: 18px;
  }

  .partner .row {
    width: auto;
  }

  .partner .row {
    justify-content: center;
  }

  .partner .col {
    margin-right: calc((100% - (180px * 3)) / 3);
  }

  footer .grid > .row {
    justify-content: start !important;
  }

  footer .grid > .row > .col {
    margin-right: 1.8rem;
    margin-bottom: 2rem;
  }

  footer .col h6,
  footer .col p {
    font-size: 1.4rem;
  }
  footer .col h6 {
    margin-bottom: 1.5rem;
  }
  .copyright {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .gutter-top{
    margin-top: 100px!important;
  }
  .header .logo {
    flex: 1;
    text-align: center;
  }
  .btn {
    font-size: 1.2rem;
    width: 10rem;
  }
  .article > div {
    justify-content: space-between;
  }
  .sm-12.article > div{
    justify-content: flex-start;
  }
  .sm-12.article > div > span{
    margin-right: 16px;
  }
  .article > div > span {
    margin-right: 0;
  }
  .indicators h3 {
    font-size: 2.4rem;
  }
  .indicators p {
    margin: 1.5rem 0;
    font-size: 1.3rem;
  }
  .indicators .number h3 {
    font-size: 3rem;
  }
  .indicators .number span {
    font-size: 1rem;
  }
  .grid.register {
    width: 540px;
  }
  .register .field input {
    width: calc(100% - 10px);
    margin-right: 0;
  }
  .register .info h6 {
    font-size: 1.6rem;
  }
  .register .info p {
    font-size: 1.2rem;
  }
  .partner .col {
    width: 150px;
    margin-right: calc((100% - (150px * 3)) / 3);
  }
  .partner .col img {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .gutter-top{
    margin-top: 80px!important;
  }
  .indicators h3{
    font-size: 2rem;
  }
  .indicators p{
    font-size: 1.2rem;
  }
  
  .indicators .number h3 {
    font-size: 2rem;
  }
  .indicators .number span {
    font-size: 0.8rem;
  }
  .grid.register {
    width: 100%;
    margin-top: 60px;
  }
  .register > .row > .col {
    display: flex;
    flex-wrap: wrap;
    order: 2;
  }
  .register .info {
    margin-right: 2rem;
    margin-top: 2rem;
  }
  .register .info:not(:first-child) {
    margin-top: 2rem;
  }

  .register .info p {
    max-width: 100%;
  }

  .register .row.flex-column {
    order: 1 !important;
  }
  .partner .col {
    margin: 0 calc((100% - (150px * 2)) / 4);
    margin-bottom: 2rem;
    padding: 0;
  }
  .xs-12.article > div{
    justify-content: flex-start;
  }
  .xs-12.article > div > span{
    margin-right: 16px;
  }
  footer {
    margin-top: 10rem;
    padding-top: 5rem;
  }
}
