.header {
  padding: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header .logo > img {
  height: 55px;
}

.header .list-menu {
  display: flex;
  margin: 0;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.header .list-menu .list-menu__item {
  padding: 10px 0px;
}
.header .list-menu .list-menu__item a {
  display: inline-block;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
}

.header .list-menu .list-menu__item:hover a {
  color: #1c1a7b;
}
.header .list-menu .list-menu__item:hover .dropdown-icon path {
  fill: #1c1a7b;
}

.header .search {
  padding-right: 0;
  justify-content: end;
  align-items: center;
}
/*-------------------------------------------------- body---------------------------------------------- */
.grid.introduce {
  margin-top: 90px;
}
.introduce .left {
  padding-right: 16px;
  padding-left: 0;
}
.introduce .left h2,
.title h3 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  line-height: 1.4;
}

.left p,
.indicators p,
.products .title span,
.training .title span,
.title p {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 400;
  margin: 30px 0;
  line-height: 1.2;
}

.introduce .left > .row {
  margin-left: 0;
}

.introduce .right {
  padding-left: 16px;
  padding-right: 0;
}
.introduce .right img {
  width: 100%;
}
/*-------------------------------------------------------- indicators------------------------------------------- */
.grid.indicators {
  margin-top: 200px;
  margin-bottom: 245px;
  text-align: center;
}
.indicators h2 {
  font-size: 40px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0 auto;
}
.indicators p {
  width: 1020px;
  margin: 0 auto 10px auto;
}

.indicators h2 strong {
  color: var(--primary-color);
  font-weight: bold;
}
.indicators .number {
  position: relative;
  margin: 35px 0;
}
.indicators .number h3 {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  color: var(--primary-color);
  line-height: 1.5;
}

.indicators .number span {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.indicators .number:not(:last-child)::after {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff 0%, #3068f7 50%, #d9d9d9 100%);
  position: absolute;
  top: 0;
  right: 0;
}
/* --------------product------------------- */
.grid.products,
.grid.business,
.grid.partner,
.grid.training,
.grid.blog,
.grid.deltal {
  margin-top: 200px;
}
.products .title {
  text-align: center;
}
.products .title h3 {
  text-align: center;
  margin: 0;
}
.products .title span {
  color: var(--primary-color);
}
.products .prd {
  margin-top: 0;
  padding: 75px 30px 10px 30px;
  width: calc((100% - 64px) / 3);
}
.products .prd h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 20px 0;
  color: var(--primary-color);
}
.products .prd p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
/* ------------------------ Training ---------------------------- */
.testimonial {
  margin-top: 235px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(48, 104, 247, 0.5);
  color: #fff;
}
.testimonial .left {
  width: 360px;
  margin-right: 90px;
}
.testimonial .background {
  text-align: center;
  position: relative;
}
.testimonial .background img {
  height: 212px;
}
.testimonial .background > div {
  position: absolute;
  left: 0;
  top: 0%;
  transform: translate(3%, 65%);
}
.testimonial .background h2 {
  font-size: 64px;
  line-height: 1.3;
  margin: 0;
  font-weight: bold;
}
.testimonial .background span {
  font-size: 24px;
  line-height: 1.1;
  margin: 0;
  font-weight: bold;
}
.testimonial .pagi {
  margin-top: 10px;
  text-align: center;
}
.testimonial .pagi span {
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
}
.testimonial .right {
  flex: 1;
  overflow: hidden;
}
.testimonial .comment {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  color: #000;
}

.testimonial .comment .identity {
  display: flex;
  align-items: center;
}

.identity .avatar {
  margin-right: 20px;
}

.identity .avatar + div > h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
}
.identity .avatar + div > p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
}
.comment p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
  margin-top: 30px;
}
/* Deltal */
.deltal .title h3 {
  line-height: 1.2;
}
.deltal .left {
  margin-top: 68px;
  margin-bottom: 77px;
}
.deltal .right .block {
  position: relative;
  width: fit-content;
}
.deltal .right {
  position: relative;
}
.deltal .right .block p {
  position: absolute;
  bottom: 8px;
  left: 4px;
  width: 100%;
  margin: 0;
  background: linear-gradient(90deg, #3068f7 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 0px 0px 15px 15px;
}
.deltal .block p > span {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  padding: 8px 15px;
  display: inline-block;
}
.deltal .block:first-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.deltal .block:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* ------------------------------businesss--------------------------------------------- */
.grid.business {
  padding: 0 150px;
  box-sizing: border-box;
}
.business .title,
.blog .title,
.partner .title {
  text-align: center;
}
.business .title p {
  /* font-family: "SVN-Gilroy", sans-serif; */
}
.business .row {
  justify-content: space-between;
}
.business .col {
  padding: 0;
}
.business .col img {
  width: 451px;
}
.business .col h6 {
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  color: var(--text-color);
}
/* --------------------------blog---------------------------------- */
.blog .row .col div {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.blog .row .col div > span {
  margin-right: 30px;
  font-size: 16px;
  line-height: 1.2;
}
.blog .row .col div > span:first-child {
  font-weight: bold;
  color: #fff;
  background-color: var(--primary-color);
  padding: 2px 8px;
  border-radius: 5px;
}
.blog .row .col h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: var(--text-color);
  line-height: 1.2;
}
.blog .row .col p {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.2;
  }